@import './_variables.scss';

// 重置样式
* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  background: #eee;
}

a {
  color: #424242
}


@each $colorKey,
$color in $colors {
  .text-#{$colorKey} {
    color: $color
  }

  .bg-#{$colorKey} {
    background-color: $color
  }
}

// text-align
@each $var in (left, center, right) {
  .text-#{$var} {
    text-align: $var !important;
  }
}



@each $sizeKey,
$size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size
  }
}

// width height
.w-100 {
  width: 100%;
}

.h-100 {
  width: 100%;
}

// flex

.d-flex {
  display: flex;
}

.d-flex-column {
  flex-direction: column;
}

.d-flex-wrap {
  flex-wrap: wrap;
}


@each $key,
$value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value;
  }
}



@each $key,
$value in $flex-ai {
  .ai-#{$key} {
    align-items: $value;
  }
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}



@each $typeKey,
$type in $spacing-types {

  // .m-1
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  // mx-1 my-1
  @each $sizeKey,
  $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }

    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  // .mt-1
  @each $directionKey,
  $direction in $spacing-directions {

    @each $sizeKey,
    $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}

// button
.btn {
  border: none;
  border-radius: 0.2857rem;
  font-size: map-get($map: $font-sizes, $key: 'sm') * $base-font-size;
  padding: 0.2rem 0.6rem;
}

// nav
.nav {
  display: flex;

  .nav-item {
    border-bottom: 3px solid transparent;
    padding-bottom: 0.2rem;

    &.active {
      color: map-get($map: $colors, $key: 'primary');
      border-bottom-color: map-get($map: $colors, $key: 'primary')
    }
  }

  &.nav-inverse {
    .nav-item {
      color: map-get($map: $colors, $key: 'white');

      &.active {
        border-bottom-color: map-get($map: $colors, $key: 'white');
      }
    }
  }

}

.sprite {
  background: url(../images/comm-spr-ok.png) no-repeat 0 0;
  background-size: 14.2857rem;
  display: inline-block;

  &.sprite-1 {
    width: 1.4286rem;
    height: 1.5714rem;
    background-position: 14.444% 60%;
  }

  &.sprite-2 {
    width: 1.5714rem;
    height: 20px;
    background-position: 84.746% 9.756%;
  }

  &.sprite-3 {
    width: 1.5rem;
    height: 1.5714rem;
    background-position: 0 60%;
  }

  &.sprite-4 {
    width: 1.5rem;
    height: 1.5rem;
    background-position: 49.162% 100%;
  }

  &.sprite-5 {
    width: 1.5714rem;
    height: 1.3571rem;
    background-position: 100% 9.756%;
  }

  &.sprite-6 {
    width: 1.5714rem;
    height: 1.3571rem;
    background-position: 45.506% 37.398%;
  }

  &.sprite-7 {
    width: 1.5714rem;
    height: 1.4286rem;
    background-position: 69.101% 9.836%;
  }

  &.sprite-8 {
    width: 1.5714rem;
    height: 1.5rem;
    background-position: 0 38.017%;
  }

  &.sprite-9 {
    width: 1.2857rem;
    height: 1.5rem;
    background-position: 50.549% 81.818%;
  }

  &.sprite-new {
    width: 2.0714rem;
    height: 1rem;
    background-position: 63.158% 35.938%;
  }

  &.sprite-arrow {
    width: 1.0714rem;
    height: 0.6429rem;
    background-position: 10.811% 94.737%;
    transform: rotate(-90deg);
  }
}